body {
    margin: 0 auto;
    padding: 0 16px;
    font-family: Arial;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

header a {
    text-decoration: none;
    margin-right: 16px;
    color: gray;
}

footer {
    color: gray;
    border-top: 1px solid gray;
    margin-top: 16px;
    padding: 16px 0;
}

h1 {
    color: #333333;
    font-size: 64px;
    margin-bottom: 16px;
}

img {
    width: 64px;
}

input {
    border: 1px solid grey;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid grey;
    color: white;
    background-color: grey;
    padding: 8px;
}